.topo {
    background: #000040;
}
.topo h2 {
    color: #fff;
    padding: 15px 0;
}
.table {
    margin-top: 46px;
}
.nav-link {
    background: #eee;
    color: #000040;
}
.nav-link:hover {
    background: #000040;
    color: #fff;
}
.nav-pills .nav-link.active {
    background: #F0BD0F;
    color: #000040;
}